body {
  background-color: #f7f9fc;
}

#createPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#backButton, #submitPostButton {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#backButton:hover, #submitPostButton:hover {
  background-color: #0056b3;
}

#postContent {
  width: 80%;
  height: 150px;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#postImage {
  width: 80%; /* Matches the width of the text area */
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
}

.button-container {
  display: flex;
  gap: 30px; /* Space between buttons */
}

#imagePreviewContainer {
  display: none; /* Initially hidden */
  margin: 20px 0;
  text-align: center; /* Center the preview */
}

#imagePreview {
  max-width: 80%; /* Constrain to fit inside the post form */
  max-height: 200px; /* Prevent large images from exceeding boundaries */
  border: 1px solid #ddd;
  border-radius: 4px;
}


html {
  display: block;
}
