#navbar {
  display: flex;
  margin-bottom: 20px;
}

#navbar button {
  background-color: #007bff;
  border: none;
  color: white;
  text-align: center;
  padding: 14px 16px;
  cursor: pointer;
  flex: 1;
  font-size: 18px;
}

#navbar button:hover {
  background-color: #0056b3;
}
